.button {
  border-radius: 8px;
  background: $color-red;
  color: $color-white;

  padding: 1.25rem 2rem;
  border: none;
  min-width: 198px;
  cursor: pointer;

  /* #region FONTS */
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  /* #endregion FONTS */
}
