$color-red: #ef3340; // Red_1_Rimac
$color-purple: #6769ff; // Acian_2
$color-green: #43b748; // Green_2
$color-gray-dark: #494f66; // Gray_1_Títulos
$color-gray: #676f8f; // Gray_2_Paragraph
$color-gray-light: #a3abcc; // Gray_3
$color-white: #ffffff; // White_1
